<style type="text/css">
			header {
				font-size: 1.5em;
				color: black;
				text-align: center;
				font-weight: bold;
				padding: 20px;
			}
			
			body {
				background:linear-gradient(#9bdcee, #ffffff);
				font-family: "Lexend";
				margin-top: 10px;
			}

			nav ul {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				gap: 5rem;
				list-style-type: none;
				padding: 1rem;
				background: linear-gradient(#6fd3ef, #f4f4fd86);
				padding: 0.75em;
				border: 4px solid rgb(226, 215, 237);
				border-radius: 1em;
        	}

			h2 {
				font-size: 1em;
				background-color: #d9e8ebaf;
				color: black;
				text-align: center;
				font-weight: bold;
				padding: 10px;
				background: linear-gradient(#fafbfc, rgba(8, 56, 247, 0.123));
				padding: 0.5em;
				border: 4px solid rgb(235, 227, 244);
				border-radius: 0.5em;
			}

			#sfondo1 {
				background-color: rgba(176, 218, 254, 0.66);
				background: linear-gradient(#00d5ffcb, #dfe3f1);
			}

			.rimane_in_alto {
				position: sticky;
				top: 0;
				backdrop-filter: blur(6px);
			}

			.foto {
				box-shadow: 0 10px 30px rgba(0, 0, 0, 0.587);
    			border-radius: 10px;
				width: 100%
       			max-width: 100%;
			}

			p {
				text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.441);
			}

			.galleria  {
				display: flex;
				justify-content: center;
				gap: 100px;
				background: linear-gradient(#ffffff, #3e5dcd27);
				padding: 15px;
				border-radius: 15px;
			}

			.galleria h4 {
				padding: 230px;
			}

			.img_testo {
				text-align: center;
			}

			table {
				width: 100%;
				border-collapse: collapse;
				border-radius: 10px;
				overflow: hidden;
				box-shadow: 0 10px 30px rgba(0,0,0,0.2);
			}

			th {
				background: linear-gradient(#6fd3ef, #4aaed1);
				color: white;
				padding: 12px;
			}

			td {
				padding: 10px;
				text-align: center;
			}

			#fine {
				text-align: center;
				padding: 20px;
				font-size: 0.9em;
				color: #555;
			}


		</style>
